<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .text-red{
            color: rgb(214, 11, 255);
        }
    </style>
</head>
<body>
    <h1 class="text-red">This is About page</h1>
    {% for i in input_data %}
    <div class="card container col-lg-4 shadow mb-3 bg-secondary rounded">
        <div class="card-body">
            <p class="text-light">Name: {{ i.name }}</p>
            {% for product in data %}
                        <p class="text-warning">Review: {{ product.sentiment }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

            
    <a href="{% url 'homep' %}" class="btn btn-primary">Home</a>
    <a href="{% url 'aboutp' %}" class="btn btn-secondary">About</a>
    <a href="{% url 'contactp' %}" class="btn btn-dark">Contact</a>
    <a href="{% url 'formsubmit' %}"  class="btn btn-dark">Sentiment_Analytics</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>